<h1>注文履歴詳細</h1>
<div>
  <h3>購入者</h3>
  <%= @order.name %>
</div>
<div>
  <h3>注文日</h3>
  <%= @order.created_at %>
</div>
<div>
  <h3>配送先</h3>
  〒<%= @order.postal_code %><%= @order.address %></br>
  <%= @order.name %>
</div>
<div>
  <h3>注文ステータス</h3>
  <%= form_with model: @order, url: admin_order_path do |f| %>
    <td>
      <%= f.select :status, Order.statuses_i18n.invert %>
      <%= f.submit '更新' %>
    </td>
  <% end %>
</div>

<table>
  <thead>
    <th>商品名</th>
    <th>単価（税込）</th>
    <th>数量</th>
    <th>小計</th>
    <th>制作ステータス</th>
  </thead>
  <tbody>
    <% @order_details.each do |order_detail| %>
      <td><%= order_detail.item.name %></td>
      <td><%= order_detail.item.with_tax_price %></td>
      <td><%= order_detail.amount %></td>
      <td><%= order_detail.subtotal %></td>
      <td>
        <%= form_with model: order_detail, url: admin_order_detail_path(order_detail.id) do |f| %>
          <td>
            <%= f.hidden_field :order_id, :value => order_detail.order_id %>
            <%= f.select :making_status, OrderDetail.making_statuses_i18n.invert %>
            <%= f.submit '更新' %>
          </td>
        <% end %>
      </td>
      <% @total +=  order_detail.subtotal %>
    <% end %>
  </tbody>
</table>
<div>
  <h3>商品合計</h3>
  <%= @total %>
</div>
<div>
  <h3>送料</h3>
  <%= @order.shipping_cost %>
</div>
<div>
  <h3>請求金額合計</h3>
  <%= @order.total_payment %>
</div>