<h1>ジャンル一覧・追加</h1>
<%= form_with model: @genre, url: admin_genres_index_path do |f| %>
  <label>ジャンル名</label>
  <%= f.text_field :name %>
  <%= f.submit "新規登録" %>
<% end %>
<% @items.each do |item| %>
    <tr>
      <td><%= image_tag item.get_item_image(100,100) %></td>
      <td><a><%= item.name %></a></td>
      <td><%= item.price %></td>
    </tr>
<% end %>